<div class="modal fade" id="createDripBoardBox" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-3">
					<h4>
					Add a bucket
					</h4>
				</div>
				<div class="col-md-9"style="padding-left: 0;">
					<div class="input-group" style="margin-left: 10px;">
						<input type="text" class="form-control input-number" placeholder="Write your bucket">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default btn-number" >
							<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>