<div class="col-md-12 modal fade" id="createDripBoardBox" tabindex="-1" role="dialog" aria-labelledby="modallogin" aria-hidden="true">
    <div class="modal-login" role="document" bucket>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                </div>
            <div class="modal-body modal-body-bucket">
            	<form name="bucketDetail" novalidate>
                <h3>{{bucket.name}}</h3>
                <input type="text" ng-model="bucket.name" class="addinput col-md-12" type="text" name="title" placeholder="Name your bucket" maxlength="50" required><br />
				<input class="addinput col-md-12" type="hidden" name="state" value="public"  ng-model="bucket.state" required>
					
				<input type="button" value="add" class="btn btn-primary pull-right" ng-click="newBucket( bucket )" ng-disabled="bucketDetail.$invalid"/>
            	</form>
            </div> 
        </div>
    </div>
</div>