<section class="intro-callaction col-xs-12" id="join" bucket>
	<div ng-repeat="bucket in buckets" class="containerprof">
            <h3 class="float">{{ bucket.name }}</h3>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav righty">
	                <li class="dropdown">
	                  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
	                  <ul class="dropdown-menu">
	                    <li><a ng-click="setting( bucket , 'public' , 'bucket' , $index )">set to public</a></li>
	                    <li><a ng-click="setting( bucket , 'profile only' , 'bucket' , $index )">set to profile only</a></li>
	                    <li><a ng-click="setting( bucket , 'deleted' , 'bucket' , $index )">delete</a></li>
	                  </ul> -->
	                </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="row brace">
                    <div ng-if="profileData.id == profile.id" class="col-sm-6 col-md-3 divide" ng-click="newDrip( bucket.id , bucket.name )" data-toggle="modal" data-target="#welcome">
	                    <a href="#">
	                    	<div class="thumbnailprofadd">
		                      	<div class="newbucket">
			                        <span class="glyphicon glyphicon-plus plus" aria-hidden="true"></span>
			                        <h4>new drip</h4>
			                     </div>
		                    </div>
		                </a>
	                </div>
	                <div drip-list="{{bucket.id}}-{{profileData.id}}-{{$index}}">
	                    <div href="#" ng-repeat="drip in drips">
	                        <div class="col-sm-6 col-md-3 divide">
			                    <div class="thumbnailprof">
				                    <div class="caption">
				                        <h4 class="float">{{drip.title | limitTo:"20"}}{{drip.title.length > 20 ? ' ...' : ''}}</h4>
							            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							                <ul class="nav navbar-nav righty">
							                	<li ng-if="profileData.id == profile.id" class="dropdown">
							                  		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon caret" aria-hidden="true"></span></a>
							                  		<ul class="dropdown-menu">
									                    <!-- <li><a ng-click="setting( drip , 'public' , 'drip' , $index )">set to public</a></li> -->
							                    		<!-- <li><a ng-click="setting( drip , 'profile only' , 'drip' , $index )">set to profile only</a></li> -->
							                    		<li><a ng-click="setting( drip , 'motivation' , 'drip' , $index )">motivation</a></li>
							                    		<li><a ng-click="setting( drip , 'thisMatter' , 'drip' , $index )">talks</a></li>
							                    		<li><a ng-click="setting( drip , 'music&arts' , 'drip' , $index )">music and arts</a></li>
							                    		<li><a ng-click="setting( drip , 'science&Technology' , 'drip' , $index )">Science&Tech</a></li>
							                    		<li><a ng-click="setting( drip , 'deleted' , 'drip' , $index )">delete</a></li>
							                  		</ul>
							                	</li>
							              	</ul>
							            </div><!-- /.navbar-collapse -->
				                        <p class="lo" ng-if="description(drip.description)">{{drip.description | limitTo:"40"}}{{drip.description.length > 40 ? ' ...' : ''}}
				                        </p>
				                    </div>
				                    <img ng-src="{{ linkUri( drip.link , 'thumb' ) }}" alt="lorde" ng-click="showVideo( linkUri( drip.link , 'video' ), drip )">
				                </div>
	                    	</div>
	                    </div>
                    </div>
            </div>
    </div>

</section>