<div class="modal fade" id="addADrip" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-3">
					<h4>
					Add a drip
					</h4>
				</div>
				<div class="col-md-9"style="padding-left: 0;">
					<input type="text" class="form-control" placeholder="Title">
					<br />
					<input type="text" class="form-control input-number" placeholder="Link...">
					<br />
					<textarea placeholder="Description" class="form-control custom-control" rows="4" style="resize:none"></textarea>
					<br /> 
					<input type="button" value="Prio Drip" class="form-control btn btn-warning" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary pull-right">Add</button>
		</div>
	</div>
</div>
</div>