<div class="modal fade" id="videoLink" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog" video-link>
	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<center>
					<iframe         
						class="video-size"
						src="{{ videoSource }}"
						frameborder="0" 
						allowfullscreen>
					</iframe>
				</center>
			</div>
		</div>
	</div>
</div>
</div>