<div id="fb-root"></div>
<script>
  var isLoaded = false;
  window.fbAsyncInit = function() {
    console.log("initialising");
      FB.init({ 
        appId: '1490365664608851',
        status: true, 
        cookie: true, 
        xfbml: true,
        version: 'v2.4'
      });
      isLoaded = true;
  };
  function checkIfLoaded() {
    if(isLoaded) console.log("LOADED!");
    else console.log("NOT YET!");

    return false;
  }
  (function(d, s, id) {
 console.log("Loading SDK!");
 window.fbAsyncInit();
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1490365664608851";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

    function toggleCheckbox(element)    {
        if( element.checked == true ){
            localStorage.setItem( "hideMessage", true );

        }else{
            localStorage.setItem( "hideMessage", false );
        }
    }
</script>

<nav class="navbar navbar-default" profile>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <a  class="navbar-brand-motivation" ng-click="setCategory( 'motivation' )">Motivation &nbsp; &nbsp;</a>
      <a  class="navbar-brand-music-arts" ng-click="setCategory( 'music&arts' )">Music&Arts &nbsp; &nbsp;</a>
      <a  class="navbar-brand-esports" ng-click="setCategory( 'esports' )">E-Sports &nbsp; &nbsp;</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <!-- <img ng-src="{{ profile.profile_picture }}" class="nav-avatar"> -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{::profile.name.split(" ")[0]}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-link" ><a to="/drip/profile/" ng-click="passProfile( profile )">Profile</a></li>
            <!-- <li><a href="#">Message</a></li>
            <li><a href="#">Privacy Settings</a></li> -->
            <li role="separator" class="divider"></li> 
            <li class="dropdown-link" to="/logout"><a>Logout</a></li>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section welcome-me>
    <div class="col-md-12 modal fade"  id="welcomeHere" tabindex="-1" role="dialog" aria-labelledby="modallogin" aria-hidden="true">
        <div class="modal-login" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Welcome!</h3>
                    <p>Hi, first of all thank you for taking notice of this little creation of mine and my friends.</p>
     
                    <p> For the benefit of grabbing a better future for the next generation I made drip8. It exists purely to pull out the greatness in all of us.</p>
                     
                    <p> I have observed and I am quite alarmed of what is currently happening to social media. We and our future generations are implicitly dragged and conformed to the mindset that it is already okay to not have skills and talents as long as you only have a pretty face and a thousand likes and hearts.</p>
                     
                    <p> I am deeply concerned that no one is taking a stand to cure it. Why Drip8 exist is to change the reason why and what we post online. </p>
                     
                    <p> Wouldn’t it be better if what we post are the actual things we love doing, whether in sports, science, entertainment or any field in general which in turn makes us a living inspiration for others to also be better. Let Drip8 become the platform where you find your inspiration and realize that what you are now is not your best self, yet.</p> 
                    <p> And so Go and FIND it. Please enjoy drip8</p>
                    <p>email me: julesarielmercado@gmail.com</p></br>
                    <label><input type="checkbox" onchange="toggleCheckbox(this)" name="hideMe" ng-model="hideMe"> dont show me again</label></br>
                    
                </div> 
            </div>
        </div>
    </div>
</section>
<section class="intro-callaction" id="join" drip-dashboard>
        <div class="container">  
            <div class="row" infinite-scroll='loadMore()'>
                <div class="col-sm-6 col-md-9 basket" ng-repeat="drip in drips">
                        <div class="thumbnail">
                            <div class="panel-body">
                                <div class="col-lg-4 col-md-4 col-sm-12 theader">
                                    <div class="profile-avatar">
                                        <img class="img-responsive" ng-src="{{ drip.drip.user.profile_picture }}" to="/drip/profile/" ng-click="passProfile( drip.drip.user )" alt="profile picture">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12 ttitle" to="/drip/profile/" ng-click="passProfile( drip.drip.user )">
                                    <div class="user-name" ng-bind="drip.drip.user.name"></div>
                                    <div class="user-information">
                                        <!-- <p ng-bind="drip.drip.dripbucket.name"></p> -->
                                    </div>
                                </div>
                                <!-- <div class="col-lg-2 time">Yesterday 9:00pm</div> -->
                            </div>
                            <div class="mtitle"><h4 ng-bind="drip.drip.title"></h4></div>
                            <div class="embed-responsive embed-responsive-16by9" video-source="{{ drip.drip.link }}" video-dashboard>     
                              <iframe         
                                class="video-size"
                                ng-src="{{ videoSrc }}"
                                frameborder="0" 
                                allowfullscreen>
                              </iframe>
                            </div>
                            <div class="caption">
                                <p class="desc" ng-bind="drip.description"></p>
                                <div class="row">
                                    <div class="btn-group col-md-12" role="group" aria-label="...">
                                        <!-- <button type="button" class="btn btn-default col-md-2" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Love
                                        </button>
                                        <button type="button" class="btn btn-default col-md-2" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment
                                        </button> -->
                                        <button data-toggle="modal" data-target="#myModal" ng-click="seeBucket( drip )" type="button" class="btn btn-default bucket col-md-2" aria-label="Left Align">
                                            comments
                                        </button>
                                        <div class="social">
                                            <!-- Twitter -->
                                            <!-- <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a> -->
                                         <!-- Facebook -->
                                            <a title="Share on Facebook" target="_blank" class="btn btn-facebook" ng-click="fbShare( drip.drip.link )"></i> Facebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" drip-modal-bucket>
  <div class="modal-dialog">
  <section class="intro-callaction" id="join">
        <div class="containerx">
            <button ng-click="exit()" type="button" class="btn btn-default xbtn" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <div class="container">  
            <div class="row">
                      <div class="col-sm-12 col-md-12 basket">
                        <div class="thumbnail">
                            <div class="video col-md-8">
                            <div class="embed-responsive embed-responsive-4by3">
                              <iframe
                                ng-src="{{ directDrip }}"
                                frameborder="0" 
                                allowfullscreen>
                              </iframe>
                            </div>
                            </div>
                            <div class="panel-body col-md-4">
                                <div class="col-lg-4 col-md-4 col-sm-12 theader2">
                                    <div class="profile-avatar">
                                        <img class="img-responsive" ng-src="{{dripBucketDetails.drip.user.profile_picture}}" alt="profile picture">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-8 col-sm-12 title2">
                                    <div class="user-name" to="/drip/profile/" ng-click="passProfile( dripBucketDetails.drip.user )" ng-bind="dripBucketDetails.drip.user.name">
                                    </div>
                                    <div class="user-information" to="/drip/profile/" ng-click="passProfile( dripBucketDetails.drip.user )">
                                        <p ng-bind="dripBucketDetails.drip.dripbucket.name" to="/drip/profile/" ng-click="passProfile( dripBucketDetails.drip.user )"></p>
                                    </div>
                                </div>
                                <div class="mtitle2 col-md-12"><h3 ng-bind="dripBucketDetails.drip.title"></h3></div>
                            </div>
                            <div class="caption capt col-md-4">
                              <p ng-bind="dripBucketDetails.drip.description"></p>
                            </div>
                            <!-- <p class="see"><a href="#" ng-if="dripBucketDetails.drip.description!=null">See more</a></p> -->
                            <!-- <p class="col-md-4 publish">Published in January 1, 2015</p> -->
                            <ul class="col-md-4 status">
                                <li ng-if=" dripBucketDetails.drip.dripbucket.drips.length > 1 ">{{ dripBucketDetails.drip.dripbucket.drips.length }} drips</li>
                                <li ng-if=" dripBucketDetails.drip.dripbucket.drips.length <= 1 ">{{ dripBucketDetails.drip.dripbucket.drips.length }} drip</li>
                                <li ng-if=" dripBucketDetails.drip.comments.length <= 1 ">{{ dripBucketDetails.drip.comments.length }} comment</li>
                                <li ng-if=" dripBucketDetails.drip.comments.length > 1 ">{{ dripBucketDetails.drip.comments.length }} comments</li>
                                <!-- <li>4 shares</li> -->
                            </ul>
                            <ul class="nav nav-pills col-md-4">
                              <!-- <li role="presentation" class="active"><a href="#">Like</a></li> -->
                              <li role="presentation" class="active" ng-click="fbShare( drip.link )"><a href="#">Share</a></li>
                              <!-- <li role="presentation"><a href="#">Message</a></li> -->
                            </ul>
                            <!-- Video list -->
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="center" ng-if=" dripBucketDetails.drip.dripbucket.drips.length > 1 ">{{ dripBucketDetails.drip.dripbucket.name }}</p>
                                    
                                </div>
                                <div class="videolist col-md-12">
                                    <!-- <flex-slider slide="drip in dripBucketDetails.drip.dripbucket.drips track by $index" class="carousel" animation="slide" animation-loop="false" item-width="210" item-margin="5">
                                        <li ng-click="changeVideo( drip )"><img ng-src="{{drip.thumb}}" alt="Owl Image"></li>
                                    </flex-slider> -->
                                </div>
                                
                                <div class="col-md-12">
                                    <p class="center" ng-if=" dripBucketDetails.drip.dripbucket.drips.length > 1 ">{{ dripBucketDetails.drip.dripbucket.drips.length }} drips</p>
                                    <p class="center" ng-if=" dripBucketDetails.drip.dripbucket.drips.length <= 1 ">{{ dripBucketDetails.drip.dripbucket.drips.length }} drip</p>
                                </div>
                                <!-- Comment Box -->
                                <div class="detailBox col-md-12">
                                <div class="commentBox">

                                    <p class="taskDescription" ng-if=" dripBucketDetails.drip.comments.length < 1 ">no comment</p >
                                    <p class="taskDescription" ng-if=" dripBucketDetails.drip.comments.length == 1 ">{{ dripBucketDetails.drip.comments.length }} comment</p >
                                    <p class="taskDescription" ng-if=" dripBucketDetails.drip.comments.length > 1 ">{{ dripBucketDetails.drip.comments.length }} comments</p >
                                </div>
                                <div class="actionBox">
                                    <ul class="commentList" ng-repeat="comment in comments">
                                        <li>
                                            <div class="commenterImage">
                                              <img ng-src="{{comment.user.profile_picture}}" />
                                              
                                            </div>
                                            <div class="commentText">
                                                <p class="">{{ comment.user.name }}</p> <p class="caption">{{ comment.body }}</p>

                                            </div>
                                        </li>
                                    </ul>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <textarea class="reaction-field" ng-model="dripComment" placeholder="say something..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-default" ng-click="react( dripComment )">react</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                      </div>
            </div>
        </div>
    </section>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        if( localStorage.getItem( "hideMessage" ) == "true" ){
            $( "#welcomeHere" ).modal( "hide" );
        }
    })

</script>