<section class="col-lg-12 col-md-12 col-sm-12" auth>
		<div class="col-lg-9 col-md-9 col-sm-9 img-container">
		<%= image_tag("great.jpg", :alt => "great") %>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 text-container">
			<h2>drip8</h2>
			<p>They could have been you <br><span>But you were never you</span></p>
			<a class="btn btn-block btn-social btn-facebook" ng-click="login()">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
		</div>
	</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

</script>