<div class="col-lg-12" auth>
	<div class="row" style="text-align: center;">
		<div class="container-img" style="width: 900px; height: auto; margin: 10px auto; box-shadow: 5px 1px 5px black;">			
			<%=image_tag "logo.jpg",:class => 'image-logo' %>
			<br />
			<button class="btn btn-facebook" style="margin-bottom: 5px;" ng-click="login( )"> Login via Facebook </button>
		</div>
	</div>
</div>