<link href="stylesheets/bootsrap.min.css" 	rel="stylesheet"/>
<link href="stylesheets/bootsrap-social.css"rel="stylesheet"/>
<link href="stylesheets/index-style.css" 	rel="stylesheet"/>
<link href="stylesheets/font-awesome.css" 	rel="stylesheet"/>
<link rel="stylesheet" type="text/css" media="screen and (max-width: 482px)" href="stylesheets/index-style.css" />


<section class="intro-callaction col-md-12" auth>
    <video class="trans" autoplay loop muted poster="screenshot.jpg" id="background">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    </video>
    <div class="row">
        <div class="maintitle col-md-5 whites">
            <h1>drip8</h1>
            <h4>find your best self through your own actions and others as inspiration</h4>
            <a class="btn btn-block btn-social btn-facebook" ng-click="login()">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
<!--main body-->
        </div>
    </div>
</section>