<div class="col-lg-12" profile>
<div class="row">
	<div class="col-lg-3 side-menu-bar">
		<section class="drip-user-box">
			<h5>				
				<img ng-src="{{ profile.profile_picture }}" class="profile-image" /> {{ profile.name }}
			</h5>
		</section>
	</div>
	<div class="col-lg-8" style="border-left: 1px solid #CFD8DC;">
		<div class="row" style="background-color: #3F51B5;">
			<section class="drip-top-links">
				<ul style="overflow:hidden;float:right; width: 100%;">
					<li><input type="text" class="form-control pull-left" placeholder="Search here..." style="width: 550px;"></li>
					<li><a href to="/drip" style="color: white;">Dashboard</a></li>
					<li><a href="" style="color: white;">Acknowledgements</a></li>
					<li><a href="" style="color: white;">Badges</a></li>
					<li><a href="" style="color: white;">Certificates</a></li>
				</ul>
			</section>
		</div>
		<div class="row">
			<section class="drip-featured col-lg-2">
				<h4>Featured Drip</h4>				
			</section>
			<br />
			<section class="col-lg-10">
				<iframe         
					class="video-size"
					ng-src="{{ profile.featuredVideo }}"
					frameborder="0" 
					allowfullscreen>
				</iframe>
			</section>
		</div>
		<ui-template
			ng-template="drip-bucket">
		</ui-template>
	</div>
</div>
</div>


<div style="position: fixed; margin-left: 90%; margin-top: 40%;">
	<button class="btn btn-danger pull-right" data-toggle="modal" data-target="#createDripBoardBox" style="border-radius: 50%; height: 50px; width: 50px;"><i class="glyphicon glyphicon-plus"></i></button>
</div>

<ui-template
	ng-template="bucket-modal">
</ui-template>

<ui-template
	ng-template="drip-modal">
</ui-template>

<ui-template
	ng-template="featured-modal">
</ui-template>

<ui-template
	ng-template="video-link">
</ui-template>