<div id="fb-root"></div>
<script>
  var isLoaded = false;
  window.fbAsyncInit = function() {
    console.log("initialising");
      FB.init({ 
        appId: '761394880632802',
        status: true, 
        cookie: true, 
        xfbml: true,
        version: 'v2.4'
      });
      isLoaded = true;
  };
  function checkIfLoaded() {
    if(isLoaded) console.log("LOADED!");
    else console.log("NOT YET!");

    return false;
  }
  (function(d, s, id) {
 console.log("Loading SDK!");
 window.fbAsyncInit();
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=761394880632802";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72205618-1', 'auto');
  ga('send', 'pageview');

</script>
<div profile>
	<header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-xs-6">
              <a class="navbar-brand" to="/drip/">drip8</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{::profile.name.split(" ")[0]}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-link" to="/drip/profile/" ng-click="passProfile( profile )"><a>Profiles</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-link" to="/logout"><a>Logout</a></li>
                  </ul>
                </li>
              </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
          </div>        
        </nav>
	</header>
	<div class="profilebasket">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12 col-md-12 basket">
	            <div class="thumbnail">
	            <div class="panel-body col-xs-12">
	                            <div class="col-md-4 col-sm-12 col-xs-6 theader">
	                                <div class="profile-avatar">
	                                    <img class="img-responsive" alt="profile picture" ng-src="{{ profileData.profile_picture }}"/>
	                                </div>
	                            </div>
	                            <div class="col-md-8 col-sm-12 col-xs-9 ttitle">
	                                <div class="user-name">
	                                     {{ profileData.name }}
	                                </div>
	                            </div>
	                            <div class="time" ng-if="profileData.id == profile.id">
	                                <a class="page-scroll" href="" data-toggle="modal" data-target="#createDripBoardBox">
	                                    <button type="button" class="btn btn-default col-md-2 addbuck" aria-label="Left Align">
	                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> addbucket
	                                    </button>
	                                </a>
	                            </div>
	            </div>
	            </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="intro-callaction col-md-12 col-lg-12" id="join">
		<ui-template
			ng-template="drip-bucket">
		</ui-template>
	</div>
</div>


<ui-template
	ng-template="bucket-modal">
</ui-template>

<ui-template
	ng-template="drip-modal">
</ui-template>

<ui-template
	ng-template="featured-modal">
</ui-template>

<ui-template
	ng-template="video-link">
</ui-template>