<!DOCTYPE html>
<html ng-app="Drip8">
<head>
  <title>Drip8</title>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body message-me>
	
<%= yield %>

</body>
</html>
